@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Smooth transition for navigation links */
nav a {
  transition: all 0.3s ease;
}

/* Add active class for navigation */
.nav-active {
  color: rgb(var(--foreground-rgb));
  border-bottom-color: #0056b3;
} 